
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/allure-report
/allure-results
.env
auth.json
results.xml
test-results.json
ToevoegenMedewerkersSuccessFactors4.xlsx
/test-results
/test-data
.github
.idea
/old_scripts
readjsonl.ts